<h2 class="text-center">{{userData.name}}'s Dashboard</h2>
<div class="container-fluid m-2">
    <button id="toggleCreate" class="btn btn-dark">Create Blog</button>
    
    <form id="formBlog" style="display: none;">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="title" class="form-control" id="blogTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="blogText" rows="3"></textarea>
        </div>
        <button id="create" class="btn btn-dark">Post</button>
    </form>
</div>

{{#each userData.blogs}}
<div class="card container-fluid m-2">
    <a href="/blogs/{{id}}">
        <div class="card-header d-flex inline justify-content-between bg-dark text-white">
            <h4>{{title}}</h4>
            <h4>{{format_date date}}</h4>
        </div>
    </a>
  <div class="card-body">
    <p class="card-text">{{description}}</p>
    <button id="edit" class="btn btn-dark" data="{{id}}">Edit</button>
    <button id="delete" class="btn btn-dark" data="{{id}}">Delete</button>
    <form id="editForm" style="display: none;">
    <div class="form-group">
        <label for="edit">Edit</label>
        <textarea class="form-control" id="editText" rows="3">{{description}}</textarea>
    </div>
    <button id="submitEdit" type="submit" class="btn btn-dark" data="{{id}}">Submit</button>
  </form>
  </div>
</div>
{{/each}}

<script src="/js/dashboard.js"></script>
