{{#each blogs}}
<a class="text-decoration-none" href="/blogs/{{id}}">
<div class="container-fluid justify-content-center border col-10">
    <h2 class="bg-dark text-white p-1 text-wrap">{{title}}</h2>
    <p class="text-center text-wrap">{{description}}</p>
    <p>- {{user.name}}</p>
    <p>{{format_time date}}</p>
</div>
</a>
{{/each}}
